<!DOCTYPE HTML>
<html>
  <head>
    <link href="bower/css/pure.css" type="text/css" rel="stylesheet">
    <link href="css/panel.css" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="pure-g">
      <div class="content pure-u-1-5">
        <div id="page-name">FIFR</div>
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <legend>Geek bookmarks</legend>

                <label for="tags">Tags</label>
                <input id="tags" type="text" placeholder="Tags">

                <button type="submit" class="pure-button pure-button-primary">Save</button>
            </fieldset>
        </form>
      </div>
    </div>

  </body>
</html>
